Origin: {{ maintainer.name }} <{{ maintainer.email }}>
Label: sa-misc-{{ os_release }}
Codename: misc-{{ os_release }}
Version: {{ os_release_numeric }}
Architectures: amd64 i386 source
Components: main
Description: Various bugfixed packages for Ubuntu {{ os_release_numeric }}
SignWith: {{ maintainer.gpg_key_id }}!
