---

local_alt_mirror: /srv/export/dist/altlinux
local_dist_mirror: /srv/export/dist

alt_images:

  - name: Simply Linux 9.1 x86_64
    url: https://mirror.yandex.ru/altlinux/images/p9/simply/x86_64/slinux-9.1-x86_64.iso
    checksum:
      sha256: f0dc82436b8a65f17d11bb93f550e97c4ed27dea8b00b72758232122372da1a5
      sha1:   9b3c0433325130ab738d5db0042f139af073a7d8
    altinst_size: 451227648
    live_size: 1726971904
    grub_arch: x86_64
    alt_arch: x86_64
    kernel: /EFI/BOOT/vmlinuz
    initrd: /EFI/BOOT/full.cz

  - name: Simply Linux 9.1 aarch64
    url: https://mirror.yandex.ru/altlinux/images/p9/simply/aarch64/slinux-9.1-aarch64.iso
    checksum:
      sha256: cc09bb437a007484465833080161c247e4a8a1e411bf66094cf3f127024b6f4a
      sha1:   2cd4627aab173e7905dd1a47b1f954d5d8e5e9ad
    altinst_size: 411762688
    live_size: 1411964928
    grub_arch: arm64
    alt_arch: aarch64
    kernel: /EFI/BOOT/vmlinuz
    initrd: /EFI/BOOT/full.cz

other_images:

  - name: XUbuntu 21.04
    distro: ubuntu
    url: https://cdimage.ubuntu.com/xubuntu/releases/21.04/release/xubuntu-21.04-desktop-amd64.iso
    checksum:
      sha256: 7f01f21760b87afbe9fa86615c666d763fd41adcac00a57f000fd52d6605cff7
      sha1:   efdba4fa1d27c281375c4d9ca7533603736288c7
    grub_arch: x86_64
    kernel: /casper/vmlinuz
    initrd: /casper/initrd
    cmdline: boot=casper iso-scan/filename=${iso_path} quiet

  - name: Fedora Workstation 34
    distro: fedora
    url: https://download.fedoraproject.org/pub/fedora/linux/releases/34/Workstation/x86_64/iso/Fedora-Workstation-Live-x86_64-34-1.2.iso
    checksum:
      sha256: 865c4457dd066d3074c35a8847c8dac1380667c96a4f6d74526324dba14f1b5c
      sha1:   03198260817456717529c7cb1f0837406893a8ce
    grub_arch: x86_64
    kernel: /isolinux/vmlinuz
    initrd: /isolinux/initrd.img
    cmdline: root=live:CDLABEL=${isolabel} rd.live.image iso-scan/filename=${iso_path}
